.Modal {
  position: fixed;
  z-index: 9999;
  background-color: #444443;
  width: 70%;
  border: 2px solid #85b06b;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 1px #85b06b;
  padding: 16px;
  left: 15%;
  top: 15%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  font-family: "Special Elite", serif;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
